<footer class="site-footer">

  <div class="wrapper">
    <ul class="contact-list">
      <li class="item">mail: <a href="mailto:{{site.email}}">{{ site.email }}</a></li>
      <li class="item">feed: <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a></li>
      {% if site.github_username %}
      <li class="item">github: <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
      {% endif %}
      {% if site.twitter_username %}
      <li class="item">twitter: <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
      {% endif %}
    </ul>
  </div>

</footer>
